.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.logo h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fccf00;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #2468b1;
}
