.search-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.search-bar .search-input {
  width: 25rem;
  font-size: 18px;
  padding: 1rem;
}

.search-bar .search-button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #2468b1;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  transition: background-color 0.7s ease-out;
}

.search-bar .search-input:focus {
  outline: none;
}

.search-bar .search-button:hover,
.search-bar .search-button:active {
  background-color: #0670e2;
}
